{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>LABJak</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{% static 'css/reset.css' %}" type="text/css" media="screen">
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="screen">
	<link rel="stylesheet" href="{% static 'css/grid.css' %}" type="text/css" media="screen">

	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.default.css' %}" id="theme-stylesheet">


	<script src="{% static 'js/Asap_400.font.js' %}"></script>
	<script src="{% static 'js/Asap_italic_400.font.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/cufon-replace.js' %}"></script>
	<script src="{% static 'js/cufon-yui.js' %}"></script>
	<script src="{% static 'js/FF-cash.js' %}"></script>
	<SCRIPT src="{% static 'js/front.js' %}"></SCRIPT>
	<script src="{% static 'js/jquery-1.7.1.min.js' %}"></script>
	<script src="{% static 'js/jquery.equalheights.js' %}"></script>
	<script src="{% static 'js/jquery.cycle.all.js' %}"></script>
	<script src="{% static 'js/jquery.min.js' %} "></script>

</head>
<!--==============================header=================================-->
<body id="page1">
<div class="main">
	<header>
		<div class="container_12">
			<div class="wrapper p3">
				<div class="grid_12">
					<div class="wrapper border-bot">
						{#						<nav>#}
						<img src="{% static 'imgs/logo.png' %}" width="200" height="150"/>
						<ul class="menu">
							<li><a href="/index/">Home</a></li>
							<li><a href="/transfer/">Transfer</a></li>
							<li><a href="/deposit/">Deposit</a></li>
							<li><a href="/withdraw/">Withdraw</a></li>
							<li><a href="/statement/">Statement</a></li>
							{% if request.session.user_name %}
								<li><a href="/log_out/">{{ request.session.user_name }},log out</a></li>
							{% else %}
								<li><a href="/log_in/">Login/Register</a></li>
							{% endif %}
						</ul>
						{#						</nav>#}
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</header>
	<!--==============================content================================-->
	<section id="content">
		<div class="container_12">

			{% block content %}

			{% endblock %}


			{% block main_content %}
		{% endblock %}
		</div>
	</section>
	<!--==============================footer=================================-->

	<footer>
		<div class="inner">
			<div class="">
				<section id="content">
					<div class="container_12">
						<div class="wrapper">
							<article class="grid_4">
								<div class="indent-right">
									<div class="maxheight img-indent-bot">
										<h3>Business Checking</h3>
										<p> offers a wide variety of business checking accounts for small, mid-sized and
											large
											businesses. Compare our business checking solutions and find the right
											checking
											account for you.</p>
									</div>
									<a class="button" href="#">More</a></div>
							</article>
							<article class="grid_4">
								<div class="indent">
									<div class="maxheight img-indent-bot">
										<h3>Business Loans</h3>
										<p>Finance your small business with business loans from Chase. Find a variety of
											financing options including SBA loans, commercial financing and a business
											line of
											credit to invest in the future of your business.</p>
									</div>
									<a class="button" href="#">More</a></div>
							</article>
							<article class="grid_4">
								<div class="indent-left">
									<div class="maxheight img-indent-bot">
										<h3 class="p1">Business Credit Cards</h3>
										<p>Find and apply for the Ink business credit card best suited for your
											business.
											Compare the benefits of the Ink business credit cards.</p></div>
									<a class="button" href="#">More</a></div></article>
						</div>
					</div>
				</section>
				LABJak &copy; 2021
			</div>
		</div>
	</footer>
</div>
<script>Cufon.now();</script>
</body>
</html>
