{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-lg-3 bg-white">
		<div class="form d-flex align-items-center">
			<div class="content">
				<form action="/deposit/" method="post" class="form-validate" id="DepositForm">
					{% csrf_token %}
					<div class="form-group">
						<input type="number" name="amount" required placeholder="Amount $"
							   class="input-material">
					</div>

					<label for="date">Deposit Date :</label>
					<input type="date" id="birthday" name="birthday">	
					<br><br>

					<button id="depo" type="submit" class="btn btn-primary">Deposit!</button>
				</form>
				<div class="alert-warning">
					{% if msg %}
						<h1>{{ msg }}</h1>
					{% endif %}</div>
			</div>
		</div>
		</article>
	</div>
	<br/>
{% endblock %}