{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>index_demo</title>

</head>
<body>
<h1>index page with login/regiester/transfer button</h1>
<br>

<img src="{% static '/logo.png' %} "/>
<img src="{% static 'Picture1.png'%} "/>
<img src="{% static 'logo.png'%} "/>
<img src="{% static 'Picture1.png' %}"/>


<h1>{% static '' %} </h1>
<a href="login/">login</a>
<a href="register/">register</a>
<a href="transfer/">transfer</a>
<a href="#">#</a>

</body>
</html>