<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>register_demo</title>
</head>
<body>
<h1>register page</h1>
<br>


<form action="/register/" method="post">
	{% csrf_token %}
	<label>NAME</label>
	<br>
	<input type="text" name="the_id">
	<br>
	<label>PASSWORD</label>
	<br>
	<input type="password" name="the_pwd">
	<br>
	<label>type again</label>
	<br>
	<input type="password" name="the_pwd2">
	<br>
	{% if msg %}
		<h1>{{ msg }}</h1>
	{% endif %}
	<br>
	<input type="submit" value="Welcome!">
</form>

</body>
</html>