{% extends 'base.html' %}
{% load static %}
{% block content %}
	<div>
		<strong>Hello,{{ request.session.user_name }}</strong>
		<br/>
		<br/>
		<ul>
			<li><strong>Your ID is</strong></li>
			<li>{{ request.session.user_id }}</li>
		</ul>

		<ul>
			<li><strong>Your Balance remains</strong></li>
			<li>{{ request.session.user_amount }}</li>

		</ul>
	{% if request.session.user_name %}
		<br/>
	<div>
		<p><strong style="color: red">CLOSE ACCOUNT?</strong></p>
		<a href="/delete_acc/" >YES, CLOSE ACCOUNT!</a>
	</div>
	{% endif %}
	</div>
{% endblock %}