{% extends 'base.html' %}
{% load static %}

{% block content %}
	<div class="col-lg-3 bg-white">
		<div class="form d-flex align-items-center">
			<div class="content">
				<form action="/transfer/" method="post" class="form-validate" id="transForm">
					{% csrf_token %}
					<div class="form-group">
						<input type="text" name="Payee" required placeholder="Payee" class="input-material">
					</div>
					<div class="form-group">
						<input type="number" name="amount" required placeholder="Amount $"
							   class="input-material">
					</div>

					<label for="date">Transfer Date :</label>
					<input type="date" id="Calendardate" name="Calendardate">	
						<br><br>

					<textarea rows="2" cols="20" name="memo" form="usrform" placeholder="Description"
							  class="input-material"></textarea>
					<br>
					
					<button id="trans" type="submit" class="btn btn-primary">Transfer!</button>
				</form>
				<div class="alert-warning">
					{% if msg %}
						<h1>{{ msg }}</h1>
					{% endif %}</div>
			</div>
		</div>
		</article>
	</div>
{% endblock %}