{% extends 'base.html' %}
{% load static %}
{% block content %}
	{% block main_content %}
		<article class="grid_8">
			<h3>Recent News</h3>
			24 Hour Emergency Towing<br>
			<span class="color-5">Monday - Friday: 7:30 am - 6:00</span><br>
			<span class="color-5">Saturday: 7:30 am - Noon</span><br>
			<p class="indent-bot">Night Drop Available</p>
			<figure class="indent-bot">
				<div style="width: 100%">
					<div style="width: 100%">
						<iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0"
								marginwidth="0"
								src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=1%20Washington%20Square,%20San%20Jose,%20CA%2095112+(SJSU)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
						<a href="https://www.mapsdirections.info/en/measure-map-radius/">Map radius measure</a></div>
					<a href="https://www.mapsdirections.info/en/measure-map-radius/">www.mapsdirections.info</a></div>
			</figure>
			<dl>
				<dt>Demolink.org 8901 Marmora Road, Glasgow, D04 89GR.</dt>
				<dd><span>Telephone:</span>+1 959 552 5963;</dd>
				<dd><span>FAX:</span>+1 959 552 5963</dd>
				<dd><span>E-mail:</span><a href="#">mail@demolink.org</a></dd>
			</dl>

		</article>
	{% endblock %}
{% endblock %}